

<template id="card-container" >

    <div class="card-body">

        <h5 style="margin-bottom: 15px;" class="card-title">Michael Jay Sinadjan</h5>



      <p style="margin-bottom: 0px;" class="card-text">Category : <span class="card-category">Penicilin</span></p>
      
      <p  style="margin-bottom: 0px;" class="card-text">Dosage &nbsp;&nbsp;&nbsp;: <span  class="card-dosage">500mg</span></p>
      <p   class="card-text">Stock &emsp;&emsp;: <span  class="card-stock">50</span></p>


        <a style="color:white; " type="button" class="btn btn-primary viewDesc" data-toggle="modal" data-target="#exampleModal">View Description</a>
    </div>

</template>

<div class="parent"></div>

<style>
  

   .parent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust the values as needed */
    gap: 10px; /* Adjust the gap between cards as needed */
  }

  .card {
    width: 100%;
  
    border: 1px solid #ccc;
   
    overflow: hidden;
   
  }

  .card-body{
     border-radius: 2px;
    border: 1px solid #ccc;
  }
</style>



