 @* <link rel="stylesheet" href="~/lib/FontAwesome/all.min.css">
<script src="~/lib/FontAwesome/all.min.js"></script> *@


<div class="modal fade" id="modalMedicineInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Product Information</h5>
        <button type="button" id="modalMedicineInfoClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body infoContent d-flex justify-content-center">
        <div class="cardInfo" style="width: 18rem;">
            <center><h4><div class="info-title" id="info-title">
            </div></h4></center>
            <hr/>
            <div class="info-Description"></div>
            <hr/>
      </div>
      </div>
     
    </div>
  </div>
</div>
