

<div class="modal fade" id="modalMedicineUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-body d-flex justify-content-center">
                    <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">Update Medicine</h5>
                </div>
                <button type="button" id="modalMedicineUpdateClose" class="btn-close btn-light" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body MedicineUpdate d-flex justify-content-center">
                <div>



                    <form id="updateMedicineForm">

                        <div class="form-group">
                            <label name="" class="control-label">Medicine Name</label>
                            <input type="text" name="MedicineName" id="inputMedicineName" class="form-control"
                                required />
                        </div>


                        <div class="form-group">
                            <label name="" class="control-label">Category Name</label>
                            <select id="catSelect" name="CategoryName" class="form-select"></select>
                        </div>


                         <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="form-label">Dosage</span>
                                    <input class="form-control" name="Units" type="number"
                                        required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="form-label">Select Dosage </span>
                                    <select  name="Dosage" class="form-select" id="dosg">
                                         <option>tsp</option>
                                          <option>tbsp</option>
                                        <option>mm</option>
                                         <option>g</option>
                                        <option>mL</option>
                                        <option>L</option>
                                        <option>oz</option>
                                        <option>mg</option>


                                    </select>
                                </div>
                            </div>
                        </div>
                        

                        <div class="form-group">
                            <label name="" class="control-label">Stock</label>
                            <input type="number" name="Stock" id="inputMedicineStock" class="form-control" min="0"
                                required />
                        </div>


                        <div class="form-group">
                            <label name="" class="control-label">Purchased Date</label>
                            <input type="date" name="PurchaseDate" id="inputDatepurchased" class="form-control"
                                required />
                        </div>

                        <div class="form-group">
                            <label name="" class="control-label">Expiry Date</label>
                            <input type="date" name="ExpiryDate" id="inputExpirydate" class="form-control" required />
                        </div>
                         @* <div class="form-group">
                            <label name="" class="control-label">Description</label>
                            <input type="text" name="Description" id="inputDescription" class="form-control" required />
                        </div> *@

                        <label name="" class="control-label">Description</label>
                               <div class="form-group">
                             
                                <textarea name="Description" id="inputDescription" cols="50" rows="3"></textarea>
                            </div>

                        @* <div class="form-group">
                            <label name="Status" class="control-label">Status</label>
                            <br>
                            <center>
                                <input name="Status" class="form-check-input stat" type="checkbox" value="Active"
                                    id="flexCheckCheckeds" />
                                <label class="form-check-label" for="flexCheckChecked">Active</label>
                            </center>
                        </div> *@

                    </form>


                </div>

            </div>

            <div class="modal-footer">
                <div class="modal-body d-flex justify-content-center">
                    <button type="button" class="btn btn-primary" id="updateMedicinebtn">Confirm</button>
                </div>
            </div>
        </div>

    </div>
</div>