<div class="modal fade" id="modalDepartmentCreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
     
        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">Create Category</h5>
       
        <button type="button" id="modalDepartmentCreateClose" class="btn-close btn-light" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body DepartmentCreate d-flex justify-content-center">
        <div>



          <form id="createDepartmentForm">
            <div class="form-group">
              <label name="" class="control-label" style="font-weight: bold;">Department Name</label>
              <input type="text" name="DepartmentName" id="inputDepartmentName" placeholder="Enter Department name"
                class="form-control" required />
            </div>
          </form>


        </div>
      </div>
      <div class="modal-footer">
       
          <button type="button" class="btn btn-success" id="createDepartment" >Confirm</button>
      
      </div>



    </div>
  </div>
</div>