<div class="modal fade" id="modalEmployeeInfo" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-body d-flex justify-content-center">
                    <h5 class="modal-title" id="exampleModalLabel">Student Personal Information</h5>
                </div>
                <button type="button" id="modalEmployeeInfoClose" class="btn-close btn-light"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body EmployeeInfo d-flex justify-content-center">
                <div class="cardInfo" style="width: 30rem;">
                  
                    <hr />
                    <div class="info-Fullname"></div>
                    <div class="info-Birthdate"></div>
                    <div class="info-Gender"></div>
                    <div class="info-Age"></div>
                    <div class="info-Department"></div>
                    <div class="info-Course"></div>
                    <div class="info-EmailAdd"></div>
                    <div class="info-Address"></div>
                   
                    <hr />
                </div>

            </div>

        </div>
    </div>

</div>
</div>
