<div class="card d-flex">
    <div class="card-body d-flex">
        <div class="card-title d-flex">


            <table id="EmployeeData" class="display table-hover" width="90%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>FullName</th>
                        <th>Birthdate</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Address</th>
                        <th>Course</th>
                        <th>Action&nbsp;&nbsp;&nbsp;&nbsp;Result</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
</div>

 <style>
        /* Add some basic styling */
        body {
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        

        
    </style>



