



<div class="table">

            <table id="EmployeeHealthInfoData" class="display  table-hover" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>FullName</th>
                        <th>Birthdate</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Department</th>
                        <th>Course</th>

                        <th>Action&nbsp;&nbsp;&nbsp;&nbsp;Result</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

  </div> 

<style>
    /* Add some basic styling */
    body {
       
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .table{
        margin-top: 70px;
    }


    
    
</style>
