<div class="modal fade" id="modalpayment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header " style="background-color: #818896; color: white;">
         
        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold; ">Pay</h5>
      
        <button type="button" id="modalPaymentClose" class="btn-close btn-light" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body Payment d-flex justify-content-center">
        <div>



          <form id="createPaymentForm">
            <label name="" class="control-label headerName" style="font-weight: bold; font-size: 20px; color: #000000; ">Patient Name</label>
           </br>
            <label name="" class="control-label headerBalance" style="font-weight: bold; font-size: 15px; color: #82bd7a; ">Balance</label>
            
            <div class="form-group">
              </br>
              </br>
              <label name="" class="control-label" style="font-weight: bold; font-size: 20px; color: #000000; ">Pay</label>
              <input type="number" name="Pay" id="inputpayment" placeholder="Enter money"
                class="form-control" required  min="0"/>
            </div>
               <div class="form-group">
              <input type="number" name="Accinfoid" id="inputId"  class="form-control" hidden />
            </div>
          </form>


        </div>
      </div>
      <div class="modal-footer">
       
          <button type="button" class="btn btn-success" id="createPayment">Confirm</button>
    
      </div>



    </div>
  </div>
</div>

