<div class="table">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h6><span>List</span><small class="px-1">of Patient to Pay</small></h6>
                <table id="AccountingData" class="display  table-hover" width="100%">
                    <thead>
                        <tr>
                         
                            <th>Patient</th>
                            <th>Fullname</th>
                            <th>PayableStatus</th>
                            <th>Balance</th>
                            <th>Action&nbsp;&nbsp;&nbsp;&nbsp;Result</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<style>
    /* Add some basic styling */
    .table {
        margin-top: 30px;
    }
</style>
