<table id="AdminAccountData" class="display table table-bordered table-hover" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fullname</th>
                    <th>Addresss</th>
                    <th>Email</th>
                    <th>Mobile Number</th>
                    <th>Password</th>
                    <th>Action Result</th>
                </tr>
            </thead>
            <tbody></tbody>
</table>