<template id="studentOptionTemplate">
    <option value=""></option>
</template>

<template id="departmentOptionTemplate">
    <option value=""></option>
</template>

<template id="courseOptionTemplate">
    <option value=""></option>
</template>

<template id="prabensOptionTemplate">
    <option value=""></option>
</template>



<div class="modal fade" id="modalStudentCreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                @* <div class="modal-body d-flex justify-content-center" > *@
                    <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">Signup</h5>
                @* </div> *@
                <button type="button" id="modalStudentCreateClose" class="btn-close btn-light" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body StudentCreate d-flex justify-content-center">
                <div>



                    <form id="createStudentForm">
                        <div class="row">
                            <div class="address">Name</div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label name="" class="control-label">First Name</label>
                                    <input type="text" name="Firstname" id="inputFName"
                                        placeholder="Enter First Name" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label name="" class="control-label">Last Name</label>
                                    <input type="text" name="Lastname" id="inputLName"
                                        placeholder="Enter Last Name" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label name="" class="control-label">Middle Name</label>
                                    <input type="text" name="Middlename" id="inputMName"
                                        placeholder="Enter Middle Name" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label name="" class="control-label">Birthdate</label>
                                    <input type="date" name="Birthdate" id="inputbirth"
                                        placeholder="Enter Birthdate" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label name="" class="control-label">Gmail address</label>
                                    <input type="text" name="Gmailaddress" id="inputemail"
                                        placeholder="Enter GmailAddress" class="form-control" required />
                                </div>
                            </div>


                            <div class="col-sm-6">
                                <div class="form-group">
                                     <label name="" class="control-label">Select Gender</label>
                                    <select name="Gender" class="form-select">
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                            </div>

                            <div class="address">Address</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label name="" class="control-label">Select Province</label>
                                    <select id="prabens" name="AddressProvince" class="form-select">
                                         
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label name="" class="control-label">Select Municipality</label>
                                    <select id="muni" name="AddressMunicipality" class="form-select">
                                    
                                    </select>
                                    
                                </div>
                            </div>


                             <div class="col-sm-6">
                                <div class="form-group">
                                    <label name="" class="control-label">Select Baranggay</label>
                                    <select id="barang" name="AddressBarangay" class="form-select">
        
                                    </select>
                                    
                                </div>
                            </div>
                            

                            <div class="col-sm-6">
                                
                                    <div class="form-group">
                                        <label name="" class="control-label">Purok</label>
                                        <input type="text" name="AddressPurok" id="Purok" placeholder="Enter Purok"
                                            class="form-control" required />
                                      

                                    </div>
                             
                            </div>

                            <div class="address">Department Course Or Year</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label name="" class="control-label">Select Department</label>
                                    <select id="STDepartment" name="DepartmentId" class="form-select">
                                         <option value="" disabled selected>Select a department</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label name="" class="control-label">Select Course/Year</label>
                            
                                    <select id="STCourse" name="CourseStrandYearId" class="form-select">
                                    
                                    </select>
                                    
                                </div>
                            </div>

                        </div>
                    </form>


                </div>

            </div>
            <div class="modal-footer">
             
                    <button type="button" class="btn btn-success" id="createStudent">Confirm</button>
            
              
            </div>
        </div>

    </div>
</div>

<style>
    .Address {
        text-align: center;
        font-size: large;
        font-weight: bolder;
        padding-bottom: 20px;
    }
  @* .modal-header{
    background-color: #6c7b88;
    color: #ffffff;
    
  } *@
  .modal-title{
    font-size: 25px;
  }

</style>