

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/css/multi-select-tag.css">


<div class="modal fade" id="modalCart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cart List</h5>
        <button type="button" id="modalCartClose" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body infoCart d-flex justify-content-center">
        <template id="card-container-cart">
            <div class="card cardsdd" style="width: 18rem;">
            <center><p><div class="card-title fw-bold">
            </div></p></center>
            <hr/>
            <strong>
                <center>
                <div class="card-body"></div>
                <a class="btn btn-primary stockMinus" id="stockMinus">-</a>
                <a class="card-stock text-decoration-none"></a>
                </a>
                <a class="btn btn-primary stockPlus" id="stockPlus">+</a>
                </center>
            </strong>
          
            <hr/>
            <center>
                <a class="btn btn-danger deleteCart" title="Delete">
                <i class="fa-solid fa-trash text-white"></i>
                </a>
            </center>

            <br>

            </div>
        </template>

        <div class="parentCart"></div>
        <br>
        <div class = "vertical"></div>
        <div>
            <hr/>

            <div class="showT"></div>

          
             <label name="" class="control-label labelCart">Patient fullname</label>
             <select id="selectFullname" name="PatientId" class="form-select"></select>
             <br>

             <div class="form-group">
              <label  class="control-label labelCart">Select an Illness</label>
              <select name="Illness" id="illness" multiple>

              </select>
              </div>

            

      
           
        </div>
        <br>
      </div>
        
    
      <div class="modal-footer">
            <button class="card-link btn btn-success checkoutBtn" id="checkoutBtn" data-bs-dismiss="modal" data-bs-toggle="tooltip" data-bs-placement="top" title="Checkout">
            <!--<i class="fa-solid fa-pen-to-square"></i>!-->
            Checkout
            </button>
      </div>
    </div>
  </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>



<script>
   // Sample data
    var illnessData = [];
    
            $.ajax("../api/adminapi/getIll")
                .done(function (result) {
                    illnessData = result;
                });

             console.log(illnessData)

    // Function to populate the select element
    function populateillnessSelect(data) {
        var selectElement = $('#illness');

        // Clear existing options
        selectElement.empty();

        // Iterate over the data and append options
        $.each(data, function(index, ill) {
            selectElement.append($('<option>', {
                value: ill.illnessId,
                text: ill.illnessname.trim() // Trim to remove leading/trailing spaces
            }));
        });
    }

    // Document ready function
    $(document).ready(function() {
        // Call the function to populate the select element
        populateillnessSelect(illnessData);
    });
</script>


<style>
  *{
    padding: 0;
    margin: 0;
  }

  .x
  {
    /*color: #f8f8f8;*/
    font-weight: bold;
  }

  .s
  {
    padding : 7px;
  }

  .cardsdd
  {
    display : inline-block;
    flex-wrap: wrap;
    max-width: 250px;
    min-width: 250px;
  }

  .vertical {
    border-left: 6px solid black;
    weight: 200px;
    position:absolute;
    left: 50%;
    }

</style>