<div class="modal fade" id="modalDateUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <div class="modal-body d-flex justify-content-center">
        <h5 class="modal-title" id="exampleModalLabel">Update Date</h5>
        </div>
        <button type="button" id="modalDateUpdateClose" class="btn-close btn-light" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body dateUpdate d-flex justify-content-center">
        <div>
          <div>

            <form id="updateDateForm">
               
              <div class="form-group">
                <label name="" class="control-label">Available Date </label>
                <input type="date" name="Avadate" id="inputDateUpdate" class="form-control" required />
              </div>
             
            </form>

          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="modal-body d-flex justify-content-center">
          <button type="button" class="btn btn-primary" id="updateDatos">Confirm</button>
        </div>
      </div>

    </div>
  </div>
</div>