<div class="modal fade" id="modalDateCreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <div class="modal-body d-flex justify-content-center">
        <h5 class="modal-title" id="exampleModalLabel">Add Date</h5>
        </div>
        <button type="button" id="modalDateCreateClose" class="btn-close btn-light" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body DateCreate d-flex justify-content-center">
        <div>



          <form id="createDateForm">
            <div class="form-group">
              <label name="" class="control-label">Available Date</label>
              <input type="date" name="Avadate" id="inputDate" 
                class="form-control" required />
            </div>

            
          </form>


        </div>
      </div>
      <div class="modal-footer">
        <div class="modal-body d-flex justify-content-center">
          <button type="button" class="btn btn-primary" id="createDate">Confirm</button>
        </div>
      </div>



    </div>
  </div>
</div>


<style>
  .modal-footer{
    padding: 0px;
  }
  

  .form-group{
    width: 20rem;
  }
  #createDate{
  width: 20rem;
  
  }


</style>