<div class="modal fade" id="modalIllCreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header " style="background-color: #818896; color: white;">
         
        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold; ">Create ill</h5>
      
        <button type="button" id="modalIllCreateClose" class="btn-close btn-light" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body IllCreate d-flex justify-content-center">
        <div>



          <form id="createIllForm">
            <div class="form-group">
              <label name="" class="control-label" style="font-weight: bold; font-size: 20px; color: #000000; ">ill Name</label>
              <input type="text" name="Illnessname" id="inputIllnessName" placeholder="Enter ill name"
                class="form-control" required />
            </div>
          </form>


        </div>
      </div>
      <div class="modal-footer">
        @* <div class="modal-body d-flex justify-content-center"> *@
          <button type="button" class="btn btn-success" id="createIll">Confirm</button>
        @* </div> *@
      </div>



    </div>
  </div>
</div>

