<div class="table">
<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h6><span>List</span><small class="px-1">of Illnesses</small></h6>
            <table id="IllnessData" class="display  table-hover" width="100%">
                <thead>
                    <tr>
                       
                        <th>Illness Name</th>
                        <th>Action Result</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
</div>
</div>


<style>
    /* Add some basic styling */
    .table{
        margin-top: 20px;
    }
   
</style>