<div class="table">
<div class="card ">
    <div class="card-body ">
        <div class="card-title">
             <h6><span>List</span><small class="px-1">of Physicians</small></h6>
            <table id="PhysicianData" class="display table-hover" width="100%">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Middlename</th>
                        <th>Lastname</th>
                        <th>Gender</th>
                        <th>Action&nbsp;&nbsp;&nbsp;&nbsp;Result</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
</div>
</div>

 <style>
        /* Add some basic styling */
        body {
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        
    .card {
        background-color: #fff;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        width: 1000px;
        max-width: 2000px;
        padding: 20px;

    }

    .card-title h6 {
        font-size: 1.2rem;
        color: #333;
        margin-bottom: 10px;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

   

    th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tbody tr:hover {
        background-color: #ddd;
    }
        

        
    </style>



