<div class="modal fade" id="modalNRUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        @* <div class="modal-body d-flex justify-content-center"> *@
        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">Update Normal Ranges</h5>
        @* </div> *@
        <button type="button" id="modalNRUpdateClose" class="btn-close btn-light" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body NRourseUpdate d-flex justify-content-center">
        <div>
          <div>

            <form id="updateNRForm">
              <div class="row">
                <div class="form-group">
                  <label name="" class="control-label" style="font-weight: bold;">Test Name</label>
                  <input type="text" name="Test" id="inputDate" class="form-control" required />
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label name="" class="control-label" style="font-weight: bold;">Min Range</label>
                    <input type="number" name="MinRange" id="inputDate" class="form-control" required />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label name="" class="control-label" style="font-weight: bold;">Max Range</label>
                    <input type="text" name="MaxRange" id="inputDate" class="form-control" required />
                  </div>
                </div>


                <div class="form-group">
                  <label name="" class="control-label" style="font-weight: bold;">Select Gender</label>
                  <select name="Gender" class="form-select">
                    <option disabled selected value="">Select Gender</option>
                    <option>Male</option>
                    <option>Fenale</option>
                  </select>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label name="" class="control-label" style="font-weight: bold;">Min Age</label>
                    <input type="number" name="MinAge" id="inputDate" class="form-control" required />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label name="" class="control-label" style="font-weight: bold;">Max Age</label>
                    <input type="number" name="MaxAge" id="inputDate" class="form-control" required />
                  </div>
                </div>

                <div class="form-group">
                  <label name="" class="control-label" style="font-weight: bold;">Select Unit</label>
                  <select id="catSelect" name="UnitId" class="form-select"></select>
                </div>

              </div>
            </form>

          </div>
        </div>
      </div>

      <div class="modal-footer">
        @* <div class="modal-body d-flex justify-content-center"> *@
        <button type="button" class="btn btn-info" id="updateNR">Confirm</button>
        @* </div> *@
      </div>

    </div>
  </div>
</div>