<div class="modal fade" id="modalEquipmentUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <div class="modal-body d-flex justify-content-center">
        <h5 class="modal-title" id="exampleModalLabel">Update Equipment</h5>
        </div>
        <button type="button" id="modalEquipmentUpdateClose" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body EquipmentUpdate d-flex justify-content-center">
       <div>
            <div>
            
            <form id="updateEquipmentForm">
            <div class="form-group">
                <label name="" class="control-label">Equipment Name</label>
                <input type="text" name="EquipmentName" id="inputEquipmentUpdate" class="form-control" required/>
            </div>
            <div class="form-group">
                <label name="" class="control-label">Equipment Stock</label>
                <input type="number" name="EquipmentStock" id="inputEquipmentUpdate" class="form-control" min="0" required/>
            </div>

              <div class="form-group">
                <label name="Status" class="control-label">Status</label>
                <br>
                <input name="Status" class="form-check-input stat" type="checkbox" value="Active" id="flexCheckChecked"/>
                <label class="form-check-label" for="flexCheckChecked">Active</label>
            </div>

            </form>
           
      </div>
       </div>
      </div>
      <div class="modal-footer">
            <div class="modal-body d-flex justify-content-center">
                <button type="button" class="btn btn-primary" id="updateEquipments">Confirm</button>
            </div>
            </div>
      
    </div>
  </div>
</div>