<div class="card" >
    <div class="card-body">
        <div class="card-title">
         <h6><span>List</span><small class="px-1">of Available Time</small></h6>
            <table id="DateTimeData" class="display table table-bordered table-hover" width="100%">
                <thead>
                    <tr>
                       
                        
                        <th>Date</th>
                        <th>Available Time</th>
                        <th>Slots</th>
                        <th>Action Result</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
</div>



