<template id="DateOptionTemplate">
  <option value=""></option>
</template>


<div class="modal fade" id="modalDateTimeCreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <div class="modal-body d-flex justify-content-center">
        <h5 class="modal-title" id="exampleModalLabel">Add Time</h5>
        </div>
        <button type="button" id="modalDateTimeCreateClose" class="btn-close btn-light" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body DateTimeCreate d-flex justify-content-center">
        <div>



          <form id="createDateTimeForm">
            
            <div class="form-group">
                 <label name="" class="control-label">Available Date</label>
                <select id="catSelect" name="DateId" class="form-select"></select>
            </div>

            <div class="form-group">
              <label name="" class="control-label">Available Time</label>
              <input type="time" name="Avatime" id="inputtime" 
                class="form-control" required />
            </div>

              <div class="form-group">
              <label name="" class="control-label">Slots</label>
              <input type="number" name="TimeSlot" id="inputtime" 
                class="form-control" required />
            </div>

            
          </form>


        </div>
      </div>
      <div class="modal-footer">
        <div class="modal-body d-flex justify-content-center">
          <button type="button" class="btn btn-primary" id="createDateTime">Confirm</button>
        </div>
      </div>



    </div>
  </div>
</div>