 @* <link rel="stylesheet" href="~/lib/FontAwesome/all.min.css">
<script src="~/lib/FontAwesome/all.min.js"></script>

 <script src="~/lib/jquery/dist/jquery.js"></script> *@

<h1> Expired Medicine<span>
        <input style="width:500px;" type="text" name="searchbar" class="form-control" id="searchText"
            placeholder="Input Inctive item name" />
    </span></h1> 


<template id="cards-container" >
    <div class="card">
        <div class="card-body">
            
            <h5 class="card-title">Card title</h5>
               <hr/>
            <h6 class="card-subtitle mb-2 ">Card subtitle</h6>
            <h6 class="card-units mb-2 ">Card subtitle</h6>
            <h6 class="card-stock mb-2 ">Card subtitle</h6>
            <h6 class="card-datepurchased mb-2 ">Card subtitle</h6>
            <h6 class="card-expirydate mb-2 ">Card subtitle</h6>
            <h6 class="card-status mb-2 ">Card subtitle</h6>
            @* <h6 class="card-description mb-2 ">Card subtitle</h6> *@
   <hr/>
       <center>
        <a class="card-link btn btn-success updateMeds" data-bs-toggle="tooltip" data-bs-placement="top" title="Update">
               <i class="fa-solid fa-pen" style="color: #ffffff;"></i>
            </a>

             <a class="btn btn-info infoMeds" title="Product Information">
                <i class="fa-solid fa-circle-info" style="color: #ffffff;"></i>
            </a>
            
            <a class="btn btn-warning addStocks" title="Add Stocks">
               <i class="fa-solid fa-boxes-stacked " style="color: #ffffff;"></i>
            </a>
            
              <a class="btn btn-primary stockHistorys" title="View added stock history" style="color: #ffffff;">
                <i class="fa-solid fa-clipboard"></i>
            </a>

            <a class="deleteMeds" title="Delete" style="color: #ffffff;">
                @* <i class="fa-solid fa-trash"></i> *@
            </a>
            
            </center>
             </div>
    </div>
</template>
<div class="parents">
        
</div>
<style>
    .parent{
        padding-top: 20px;
    }
    .card-body{
        color: #060606;
    }
    .card{
         display: flex; 
      display: inline-block;
       width: 20rem; 
       margin-right: 25px; 
       margin-bottom: 25px;

      
       
      
       background-color: transparent;
        backdrop-filter: blur(20px);
       -webkit-backdrop-filter: blur(25px); 

    }
   
</style>
