<div class="table">
<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h6><span>List of Patient Log</span></h6>
            <table id="clinicData" class="display  table-hover" width="100%">
                <thead>
                    <tr> 
                       
    
                        <th>Fullname</th>
                        <th>Department</th>
                        <th>Course</th>
                        <th>Diseased Name</th>
                        <th>Date Time</th>
                        <th>Action Result</th>

                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
</div>
</div>


<style>
    /* Add some basic styling */
    .table{
        margin-top: 20px;
    }
    
    
   
</style>