<div class="modal fade" id="modalClinicLogDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Medicine Directed</h5>
        <button type="button" id="modalClinicLogDetailClose" class="btn-close btn-light" data-bs-dismiss="modal"  aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table id="clinicLogDetail" class="display" width="100%">
            <thead>
                <tr>
                    @* <th>Logbook Detail ID</th> *@
                    <th>Medicine Name</th>
                    <th>Medicine Dosage</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
       </div>
      </div>
    </div>
  </div>
</div>