
<div class="card d-flex">
    <div class="card-body d-flex">
        <div class="card-title d-flex">


            <table id="StudentDataBook" class="display  table-hover" width="90%">
                <thead>
                    <tr>
                       <th>StudentID</th>
                        <th>DateAppoint</th>
                        <th>Time</th>
                        <th>Fullname</th>
                        <th>Address</th>
                        <th>Department</th>
                        <th>Program</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
</div>

 <style>
        /* Add some basic styling */
        body {
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .card{
            display: flex;
        }

        
        

        
    </style>








