<div class="card" style="margin-top: 20px;">
    <div class="card-body">
        <div class="card-title">
         <h6><span>List</span><small class="px-1">of Available Date</small></h6>
        
            <table id="CourseData" class="display table-hover" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Department</th>
                        <th>Course/Year/Strand</th>
                        <th>Action Result</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
</div>



 <style>
        /* Add some basic styling */
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .card {
            background-color: #fff;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
           
            width: 1000px;
            max-width: 2000px;
            padding: 20px;
        }

       
      
    </style>