<template id="DepartmentOptionTemplate">
  <option value=""></option>
</template>


<div class="modal fade" id="modalCourseCreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">Add Course</h5>

        <button type="button" id="modalCourseCreateClose" class="btn-close btn-light" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body CourseCreate d-flex justify-content-center">
        <div>



          <form id="createCourseForm">

            <div class="form-group">
              <label name="" class="control-label">Select Department</label>
              <select id="catSelect" name="DepartmentId" class="form-select"></select>
            </div>

            <div class="form-group">
              <label name="" class="control-label">Course/Strand/Year</label>
              <input type="text" name="CourseStrandYearName" id="inputDate" class="form-control" required />
            </div>


          </form>


        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-success" id="createCourse">Confirm</button>

      </div>



    </div>
  </div>
</div>