
<div class="modal fade" id="modalMedicineStock" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Stock</h5>
        <button type="button" id="modalMedicineStockClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body stockContent d-flex justify-content-center">
       <div>
            <div class="cardInfo" style="width: 18rem;">
            <h5><div class="info-title" id="info-title">
            </div>
            <div class="info-Stocks"></div></h5>
           
            <form id="addMedicineStockForm">
            <div class="form-group">
                <label name="" class="control-label">Stocks</label>
                <input type="number" name="MedicineStock" id="inputStock" class="form-control" min="0" required/>
            </div>
            </form>
           
      </div>
       </div>
      </div>

       <div class="modal-footer">
        <div class="modal-body d-flex justify-content-center">
          <button type="button" class="btn btn-primary" id="addMedicineStockBtn">Confirm</button>
        </div>
      </div>

    </div>
  </div>
</div>