

<div class="comchartCard">
    <div class="comchartBox">
        <div class="comcontainerChart">
            <div class="comcontainerBody">
                <canvas id="comChart"></canvas>
            </div>
        </div>
    </div>
</div>



<style>

    .comchartCard {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
      
    }

    .comchartBox {
        border-radius: 10px;
        width: 100%;
        max-width: 1000px;
        border: solid 3px rgba(54, 162, 235, 1);
        background: white;
    }

    .comcontainerChart {
        width: 100%;
        overflow-x: auto;
    }

    .comcontainerBody {
        height: 300px;
        /* Set a specific height for the chart container */
        margin: auto;
    }
</style>