<div class="modal fade" id="modalStudentHealthInfo" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog">
        <div class="modal-content" id="cardwidth">
            <div class="modal-header">
                <div class="modal-body">
                    <h5 class="modal-title" id="exampleModalLabel">Health Information</h5>
                </div>
                <button type="button" id="modalStudentHealthInfoClose" class="btn-close btn-light"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body StudentHealthInfo d-flex justify-content-center">
                <div class="cardInfo">



                    <div class="info-Name"></div>
                    <div class="info-AgeGender"></div>
                    <div class="info-Birthdate"></div>
                    <div class="info-HN"></div>
                    <div class="info-SPID"></div>
                    <div class="info-Physician"></div>
                    <div class="info-draw"></div>
                    <div class="info-requested"></div>

                    <hr />
                    <center>
                        <h2>Complete Blood Count</h2>
                    </center>
                    


                    <br>
                    <br>
                    
                 <div class="Text fw-bold d-flex justify-content-center mt-5">Neutrophils</div>
                    <div class="chartCard">
                        <div class="chartBoxModal">
                            <div class="containerChart">
                                <div class="containerBody">
                                    <canvas id="myChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Text fw-bold d-flex justify-content-center mt-5">White Blood Cell</div>
                    <div class="chartCard ">
                        <div class="chartBoxModal">
                            <div class="containerChart">
                                <div class="containerBody">
                                    <canvas id="_wbc"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div class="Text fw-bold d-flex justify-content-center mt-5">Lymphocyte</div>
                    <div class="chartCard ">
                        <div class="chartBoxModal">
                            <div class="containerChart">
                                <div class="containerBody">
                                    <canvas id="_lym"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="Text fw-bold d-flex justify-content-center mt-5">Basophil</div>
                    <div class="chartCard ">
                        <div class="chartBoxModal">
                            <div class="containerChart">
                                <div class="containerBody">
                                    <canvas id="_baso"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="Text fw-bold d-flex justify-content-center mt-5">Eosinophil</div>
                    <div class="chartCard ">
                        <div class="chartBoxModal">
                            <div class="containerChart">
                                <div class="containerBody">
                                    <canvas id="_eosi"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="Text fw-bold d-flex justify-content-center mt-5">Hematocrit</div>
                    <div class="chartCard ">
                        <div class="chartBoxModal">
                            <div class="containerChart">
                                <div class="containerBody">
                                    <canvas id="_hema"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                      <div class="Text fw-bold d-flex justify-content-center mt-5">Hemoglobin</div>
                    <div class="chartCard ">
                        <div class="chartBoxModal">
                            <div class="containerChart">
                                <div class="containerBody">
                                    <canvas id="_hemo"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="Text fw-bold d-flex justify-content-center mt-5">Mean Corpuscular Hemoglobin</div>
                    <div class="chartCard ">
                        <div class="chartBoxModal">
                            <div class="containerChart">
                                <div class="containerBody">
                                    <canvas id="_mch"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="Text fw-bold d-flex justify-content-center mt-5">Mean Corpuscular Hemoglobin Concentration</div>
                    <div class="chartCard ">
                        <div class="chartBoxModal">
                            <div class="containerChart">
                                <div class="containerBody">
                                    <canvas id="_mchc"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="Text fw-bold d-flex justify-content-center mt-5">Mean Corpuscular Volume</div>
                    <div class="chartCard ">
                        <div class="chartBoxModal">
                            <div class="containerChart">
                                <div class="containerBody">
                                    <canvas id="_mcv"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="Text fw-bold d-flex justify-content-center mt-5">Monocyte</div>
                    <div class="chartCard ">
                        <div class="chartBoxModal">
                            <div class="containerChart">
                                <div class="containerBody">
                                    <canvas id="_mono"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="Text fw-bold d-flex justify-content-center mt-5">MPV</div>
                    <div class="chartCard ">
                        <div class="chartBoxModal">
                            <div class="containerChart">
                                <div class="containerBody">
                                    <canvas id="_mpv"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="Text fw-bold d-flex justify-content-center mt-5">Platelet Count</div>
                    <div class="chartCard ">
                        <div class="chartBoxModal">
                            <div class="containerChart">
                                <div class="containerBody">
                                    <canvas id="_pl"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="Text fw-bold d-flex justify-content-center mt-5">Red Blood Cell</div>
                    <div class="chartCard ">
                        <div class="chartBoxModal">
                            <div class="containerChart">
                                <div class="containerBody">
                                    <canvas id="_rbc"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="Text fw-bold d-flex justify-content-center mt-5">Red Cell Distribution Width</div>
                    <div class="chartCard ">
                        <div class="chartBoxModal">
                            <div class="containerChart">
                                <div class="containerBody">
                                    <canvas id="_rcdw"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    



                </div>







            </div>

        </div>
    </div>

</div>
</div>
<style>
    .chartCard {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }

    .chartBoxModal {
        width: 100%;
        max-width: 320px;
      border-radius: 5px;
      border: solid 3px rgba(54, 162, 235, 1);
        background: white;
    }

    .containerChart {
        width: 100%;
        overflow-x: auto;
    }

    .containerBody {
        height: 250px;
        /* Set a specific height for the chart container */
        margin: auto;
    }
</style>
