<table id="EquipmentData" class="display table table-bordered table-hover" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Equipment Name</th>
                     <th>Equipment Stock</th>
                    <th>Status</th>
                    <th>Action Button</th>
                </tr>
            </thead>
            <tbody></tbody>
</table>