<div class="modal fade" id="modalStudentHealthInfo" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog">
        <div class="modal-content" id="cardwidth">
            <div class="modal-header">
                <div class="modal-body d-flex justify-content-center">
                    <h5 class="modal-title" id="exampleModalLabel">Student Personal Information</h5>
                </div>
                <button type="button" id="modalStudentHealthInfoClose" class="btn-close btn-light"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body StudentHealthInfo d-flex justify-content-center">
                <div class="cardInfo">



                    <div class="info-Name"></div>
                    <div class="info-AgeGender"></div>
                    <div class="info-Birthdate"></div>
                    <div class="info-HN"></div>
                    <div class="info-SPID"></div>
                    <div class="info-Physician"></div>

                    <hr />
                    <center>
                        <h2>Complete Blood Count</h2>
                    </center>
                    <div class="examin">
                        Examination&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Result&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Units
                    </div>
                    <div class="info-wbc"></div>
                    <div class="info-neutrophils"></div>
                    <div class="info-lymphocyte"></div>
                    <div class="info-monocyte"></div>
                    <div class="info-eosinophil"></div>
                    <div class="info-basophil"></div>
                    <div class="info-hemoglobin"></div>
                    <div class="info-hematocrit"></div>
                    <div class="info-rbc"></div>
                    <div class="info-mcv"></div>
                    <div class="info-mch"></div>
                    <div class="info-mchc"></div>
                    <div class="info-rcdw"></div>
                    <div class="info-plateletcount"></div>
                    <div class="info-mpv"></div>



                    <br>
                    <br>
                    <div class="chartCard">
                        <div class="chartBox">
                            <div class="containerChart">
                                <div class="containerBody">
                                    <canvas id="myChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>







            </div>

        </div>
    </div>

</div>
</div>



<style>

    .spacing1{
        margin-left: 150px;
    }

    h2 {
        margin-bottom: 20px;
    }

    .custom-modal-dialog {
        max-width: 1000px;
        /* Set the desired width */
    }

    .cardInfo {
        width: 800px;
    }

    .indented-text {
        padding-left: 20px;
        /* Adjust the value as needed */
    }
</style>
<style>
    .chartCard {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }

    .chartBox {
        width: 100%;
        max-width: 1200px;
    @*border-radius:10px;*@border: solid 3px rgba(54, 162, 235, 1);
        background: white;
    }

    .containerChart {
        width: 100%;
        overflow-x: auto;
    }

    .containerBody {
        height: 100px;
        /* Set a specific height for the chart container */
        margin: auto;
    }
</style>
